{% load static %}



	<nav class="navbar navbar-expand-lg" id="navcolor">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
                {% for c in category %}
                <li>
                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nbar == 'store' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'store:products_all' %}">SHOP</a>
                </li>
                <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'store:about' %}">ABOUT</a>
                </li>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            </ul>
            <a href="/" class="navbar-brand navbar inner href navbar-center nav-link" style="transform: translateX(-50%); left: 50%; position: absolute;" id="centerlogo">&nbsp;&nbsp;CORS</a>
            
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">LOGIN</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'basket:basket_summary' %}">
                        YOUR BAG - 
                       
                        {% with total_qty=basket|length %}
                            <div id="basket-qty" class="d-inline-flex">
                                {% if total_qty > 0 %}
                                    {{ total_qty }}    
                                {% else %}
                                0
                                {% endif %}    
                            </div>
                        {% endwith %}    
                        </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
  
  

 