@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}
.color {
  background-color: #F9F6F1;
}

main {
  flex: 1 0 auto;
}

img {
   display: block;
    margin-left: auto;
    margin-right: auto 
}

/* <-----NAVBAR-----> */

#navcolor {
  background-color: white !important;
}

#centerlogo {
  font-size: 1.5rem !important;
  color: black !important;
  justify-content: center;
  
  
}
.navbar-nav {
  font-family: 'Roboto', sans-serif !important;
  font-size: small !important;
  margin-left: 20px;
  margin-right: 10px;
}
.nav-link {
  color: #000 !important;
       }

       /* for adding margin to search bar */
.example { 
  margin-top: 4.5px;

}

#btnsearch {
    border: none;
}
button-solid:focus {
    border: none;
    outline: none;
}


/* <-----LOG IN ------> */
#logincolor {
  color: gray !important;
}

#forgotcolor {
  color: gray !important;
}

/* <----- SIGN UP ----> */

#linkcolor {
  color: gray !important;
 }

       
/* <----FOOTER ---> */
footer {
  position: relative;
}

#footcolor {
 background-color: #D1C0A8 !important;
 color: black; 
}
      

footer.page-footer {
  padding-top: 0;
  text-align: right;
} 


