@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

}

.color {
  background-color: #F9F6F1;
}

main {
  flex: 1 0 auto;
}

/* <-----HOME----> */
img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#prodtitle {
  font-family: 'Roboto', sans-serif !important;
}

/* <-----NAVBAR-----> */
.navbar {
  position: absolute;
  top: 0;
}

#navcolor {
  background-color: white !important;
}

#centerlogo {
  font-size: 1.5rem !important;
  color: black !important;
  justify-content: center;
}

.navbar-nav {
  font-family: 'Roboto', sans-serif !important;
  font-size: small !important;
  margin-left: 20px;
  margin-right: 10px;
}

.nav-link {
  color: #000 !important;
}

/* <-----LOG IN ------> */
#logincolor {
  color: gray !important;
}

#forgotcolor {
  color: gray !important;
}

/* <----- SIGN UP ----> */

#linkcolor {
  color: gray !important;
}


/* <------SHOP PRODUCTS------> */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}

.product-card {
  padding: 3%;
  width: 30%;
}

.product-image,
.card-product-grid {
  width: 100%;

}

/* <------ORDERS------> */

.btn {
  text-decoration: underline solid black 1px;
}


/* <-----Reviews-----> */

.add-review {
  margin-top: 40px;
  margin-left: 10%;
  /* margin-bottom: 50px; */
}


#reviewbtn {
  margin-left: 68px;
}

#revtitle {
  margin-left: 40px;
  color: gray;
}

#revh6 {
  margin-left: 40px;
  margin-bottom: 20px;
}


#revsec {
  margin-top: 5%;
  margin-left: 10%;
  color: gray;
}

.sectionrev {
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 13%;
  display: flex;
}

/* <----FOOTER ---> */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}

#footcolor {
  background-color: #D1C0A8 !important;
  color: black;
}

footer.page-footer {
  padding-top: 0;
  text-align: center;
}