@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Kaisei+Decol&display=swap');
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
.color {
  background-color: #F9F6F1;
}
main {
  flex: 1 0 auto;
}
/* <-----HOME----> */
img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.section-title {
 font-family: 'Amiri',
 serif;
 font-weight: bold;
 color: black;
}
/* <-----NAVBAR-----> */
.navbar {
  position: absolute;
  top: 0;
}
#navcolor {
  background-color: white !important;
}
#centerlogo {
  font-size: 1.5rem !important;
  color: black !important;
  justify-content: center;
}
.navbar-nav {
  font-family: 'Roboto', sans-serif !important;
  font-size: small !important;
  margin-left: 20px;
  margin-right: 10px;
}
.nav-link {
  color: #000 !important;
}
/* <-----LOG IN ------> */
#logincolor {
  color: gray !important;
}
#forgotcolor {
  color: gray !important;
}
/* <----- SIGN UP ----> */
#linkcolor {
  color: gray !important;
}
/* <------SHOP PRODUCTS------> */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
}
.product-card {
  padding: 3%;
  width: 30%;
}
.product-image,
.card-product-grid {
  width: 100%;
}
/* <------ORDERS------> */
.titleorder {
  color: gray;
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Libre Baskerville',
    serif;
}
.titlecart {
  color: gray;
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Libre Baskerville',
    serif;
}
#cartbtn {
  background-color: #E8DCCA;
  border-radius: 5%;
  color: gray;
  margin-bottom: 20%;
}
/* <-------Product Details------> */
.container-color {
  background-color: #FAF0E6 !important;
}
.card-color {
  background-color: #FAF0E6;
}
.btn {
  text-decoration: underline solid black 1px;
}
#margincard {
  margin-top: 10%;
}
/* <-----Reviews-----> */
.add-review {
  margin-top: 40px;
  margin-left: 10%;
  margin-bottom: 7%;
}
#reviewbtn {
  margin-left: 68px;
  background-color: #E8DCCA;
  border-radius: 5%;
  color: gray;
}
#revtitle {
  margin-left: 40px;
  color: gray;
}
#revh6 {
  margin-left: 40px;
  margin-bottom: 20px;
}
#revsec {
  margin-left: 10%;
  color: gray;
}
.sectionrev {
  margin-top: 2%;
  margin-left: 10%;
  display: flex;
  margin-bottom: 15%;
}
/* <----FOOTER ---> */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footcolor {
  background-color: #D1C0A8 !important;
  color: black;
}
footer.page-footer {
  padding-top: 0;
  text-align: center;
}