<nav>
    <div class="nav-wrapper">
        <ul>
            <li><a href="{% url 'store' %}" class="left brand-logo">&nbsp;&nbsp;Store</a></li>
        </ul>
        <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{{ category.get_url }}">{{ category.category.name }}</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'cart' %}">Cart</a></li>
            {% endif %}
        </ul>
    </div>
</nav>