{% extends './base.html' %} {% load static %} {% block content %}

<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/1.png' %}" class="img-fluid rounded">
        </div>
    </div>
</section>

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'products_all' %}" class="btn btn-outline-dark float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header>
    </div>
</section>

{% endblock %}

<img src="https://i.imgur.com/Av938ti.png" title="source: imgur.com"  width="1350px" height="640px" align="center"/></a>
<img src="https://i.imgur.com/Dy3Xd6o.png" title="source: imgur.com" /></a>
<img src="https://i.imgur.com/rIqQYaX.png" title="source: imgur.com" width="1350px" height="640px"/></a>
<img src="https://i.imgur.com/zrIQHud.png" title="source: imgur.com" /></a>