{% extends './base.html' %} 
{% block content %}

{% comment %} this is the home page {% endcomment %}

<section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Simply your skincare search</h1>
        <p class="lead text-muted">It's time to look and feel younger today that yesterday</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>

{% for i in products %}

<div class="col">
    <div class="card shadow-sm">
      <img class="img-fluid" alt="Responsive image" src="{{ i.product.image.url }}">
      <div class="card-body">
        <p class="card-text">
          <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ i.product_name  }}</a>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">{{ i.description }}</small>
        </div>
        <p class="text-muted">{{ i.price }}</p>
      </div>
      <button class="btn btn-md btn-dark text-white">Add to cart</button>
    </div>
  </div>

    
{% endfor %}

{% endblock %}