{% extends "store/base.html" %}

{% block content %}

{% if order.is_paid %}

<h1>Order Detail</h1>

{% else %}

<h1>Cart Details</h1>

{% endif %}

<p>{{ order.order_number }}</p>

{% for lineItem in order.lineitem_set.all %}
<div>
    <p>QTY {{ lineItem.qty }}</p>
    <p>{{ lineItem.product.name }}</p>
    <p>{{ lineItem.product.category }}</p>
    <p>{{ lineItem.product.description }}</p>
    <p>{{ lineItem.product.price }}</p>
</div>
{% endfor %}

{% if order.is_paid %}
<div>
    <p>Order is paid</p>
</div>

{% else %}

<form action="{% url 'order:checkout' %}" method="POST">
    {% csrf_token %}

    <button type="submit">Checkout</button>
</form>

{% endif %}

{% endblock %}