{% extends '../base.html' %}
{% include './includes/navbar.html' %}

<title>{% block title %}SHOP ALL{% endblock %}</title>
{% block content %}


<nav class="product-filter">

  <h1>Shop All Products</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filter by:</label>
      <select>
        <option value="/">All Skincare</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
      </select>
    </div>

  </div>

  

<section id="product-index" class="products">
{% for i in products %}
    <div id="product" class="row product-card">
        <div class="col-md-3 product-image">
            <div class="card card-product-grid">
                <a href="{% url 'store:product_detail' i.slug %}" class="img-wrap"> <img src="{{ i.image }}"> </a>
                <figcaption class="info-wrap products product-info">
                    <a class="text-dark text-decoration-none title" href="{% url 'store:product_detail' i.slug %}">{{ i.name }}</a>
                    <div class="price mt-1">${{ i.price }}0</div>
                </figcaption>
            </div>
        </div>
    </div>
{% endfor %}
</section>

{% endblock %}
{% include './includes/footer.html' %}