{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.name }}</h1>
                <p><span class="lead">{{ product.description }}</span> </p>
                <p>Product # {{ product.slug }}</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Price</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}0</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                            </div>
                            <div class="col-6 text-end">
                                <form action="{% url 'order:add_to_cart' product.id  %}" method="POST">
                                    {% csrf_token %}
                                    <label for="select">Qty</label>
                                    <select id="select" name="qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    <button type="submit" class="btn btn-dark text-white btn-sm add-button">Add to
                                        cart</button>
                                </form>
                            </div><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main><br><br><br><br><br>
</div>
 <div class="add-review d-flex flex-column">
        <p id="revtitle" class="p-2">Add reviews<p>
        <form id="add-review-form" action="/product/{{ product.slug }}/add_review/" method="POST">                {% csrf_token %}
            {% csrf_token %}
            <div class="form-group p-2">
                <label class="revlabel">Rating:</label>
                <select multiple class="form-control" class="revlabel" name="rating" style="width: 40vmin;">
                    <option class="revlabel" value="5">★★★★★</option>
                    <option class="revlabel" value="4">★★★★☆</option>
                    <option class="revlabel" value="3">★★★☆☆</option>
                    <option class="revlabel" value="2">★★☆☆☆</option>
                    <option class="revlabel" value="1">★☆☆☆☆</option>
                </select>
            </div> 
            <div class="form-group p-2">
                <label class="revlabel">Subject:</label>
                <textarea class="form-control" name="subject" style="width: 40vmin;" rows="1"></textarea>
            </div>
            <div class="form-group p-2">
                <label class="revlabel">Content:</label>
                <textarea class="form-control" name="content" style="width: 40vmin;" rows="4"></textarea>
            </div>
            <input id="reviewbtn" style="width: 25vmin; font-size: small;" type="submit" value="Add Review" class="btn btn-dark text-white btn-ms p-2">
        </form>
    </div>
       
    
    
            <h2 id="rev">Reviews</h2>

      

    {% if products.review_set.all != 0 %}
        <table id="reviewlayout" class="table table-hover pl-5 pb-5">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Subject</th>
                    <th>Rating</th>
                    <th>Content</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for review in product.review_set.all %}
                            <tr>
                                <td class="review-user">{{ review.account.username }}</td>
                                <td>
                                    <h5 class="review-subject">{{ review.subject }}</h5>
                                </td>
                                <td>
                                    <p><span class="rating">{{ review.rating }}</span></p>
                                </td>
                                <td>
                                    <p class="review-content">{{ review.content }}</p>
                                </td>
                                <td>
                                        <form action="{% url 'store:review_delete' review.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit"><img src="https://img.icons8.com/ios-glyphs/30/000000/delete-message.png"/></button>
                                        </form>
                                </td>
                            </tr>
                            
            </tbody>
        </table>
        {% empty %}
            <h5 id="norev">No Reviews Yet</h5>
        {% endfor %}
    {% endif %}


{% endblock %}