{% extends '../base.html' %}
{% include './includes/navbar.html' %}


<title>{% block title %}SHOP ALL{% endblock %}</title>
{% block content %}

  <section id="product-index" class="products">
{% for i in products %}
    <div id="product" class="row product-card">
       
            <div class="card card-product-grid">
                <a href="{% url 'store:product_detail' i.slug %}" class="img-wrap"> <img src="{{ i.image }}"> </a>
                <figcaption>
                    <a class="text-dark text-decoration-none title" href="{% url 'store:product_detail' i.slug %}">{{ i.name }}</a>
                    <div class="price mt-1">${{ i.price }}0</div>
                </figcaption>
          
        </div>
    </div>
{% endfor %}
</section>

{% endblock %}
{% include './includes/footer.html' %}